version: "3.9"

services:
  backend:
    build:
      context: ../Backend
      dockerfile: Dockerfile
    container_name: backend
    ports:
      - "8080:8080"
    depends_on:
      - crawler
    environment:
      SPRING_PROFILES_ACTIVE: prod
      MONGODB_URI: ${MONGODB_URI}
      JWT_SECRET: ${JWT_SECRET}
      SONAR_HOST_URL: ${SONAR_HOST_URL}
      SONAR_TOKEN: ${SONAR_TOKEN}
      ENABLE_CRAWLER: ${ENABLE_CRAWLER}
    networks:
      - dev-network
  
  crawler:
    build:
      context: ../crawling
      dockerfile: Dockerfile
    container_name: crawler
    networks:
      - dev-network

  frontend:
    build:
      context: ../Frontend/devops3
      dockerfile: Dockerfile
      args: 
        VITE_GOOGLE_MAPS_API_KEY: ${VITE_GOOGLE_MAPS_API_KEY:-}
    container_name: frontend
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - backend
    volumes:
     - frontend_ssl:/etc/nginx/ssl
    entrypoint: >
      sh -c "
      mkdir -p /etc/nginx/ssl &&
      if [ ! -f /etc/nginx/ssl/selfsigned.crt ]; then
        openssl req -x509 -nodes -days 365 \
          -subj '/CN=localhost' \
          -newkey rsa:2048 \
          -keyout /etc/nginx/ssl/selfsigned.key \
          -out /etc/nginx/ssl/selfsigned.crt;
      fi &&
      nginx -g 'daemon off;'
      "
    networks:
      - dev-network
    healthcheck: 
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:80"]
      interval: 30s
      timeout: 10s
      retries: 3

  jenkins:
    image: jenkins/jenkins:lts
    container_name: jenkins
    user: root
    ports:
      - "8081:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - dev-network

  sonarqube:
    image: sonarqube:latest
    container_name: sonarqube
    ports:
      - "9000:9000"
    environment:
      SONAR_ES_BOOTSTRAP_CHECKS_DISABLE: "true"
    volumes:
      - sonarqube_data:/opt/sonarqube/data
      - sonarqube_extensions:/opt/sonarqube/extensions
    networks:
      - dev-network

networks:
  dev-network:

volumes:
  mongo_data:
  frontend_ssl:
  jenkins_home:
  sonarqube_data:
  sonarqube_extensions: